.ResultsDiv {
    height: 62px;
    position: relative;
}

.Display-name {
height: 20px;
font-family: Montserrat;
font-size: 16px;
font-weight: bold;
font-style: normal;
font-stretch: normal;
line-height: normal;
letter-spacing: normal;
color: #000000;
float: left;
}

.SEE-DETAILS {
    width: 94px;
    height: 18px;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
  }

  .Rectangle-21 {
    width: 134px;
    height: 34px;
    border-radius: 17px;
    background-color: #0ab463;
    float: right;
    margin-top: -13px;
  }
  