.SWStarter {
    width: 98px;
    height: 22px;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #0ab463;
  }

  .header {
    text-align: center;
    width: 1440px;
    height: 50px;
    box-shadow: 0 2px 0 0 var(--white);
    background-color: #ffffff; 
  }